body
{
    font-family: Nunito, sans-serif;
    background: rgb(246,246,255);
    background: linear-gradient(90deg, rgba(246,246,255,1) 0%, rgba(255,255,255,1) 48%, rgba(250,246,255,1) 100%);
   
}

input
{
  height: 25px;
}

h1,
h2,
h3,
h4 {
    text-align: center;
}

.maintext {
    padding: 90px, 90px, 90px, 90px;
    margin-left: 225px;
    margin-right: 225px;
    margin-top: 100px;
    margin-bottom: 100px;
    font-size: 1.3em;
    min-width: 700px; 
}

select
{
  height: 50px;
  font-size: 25px;
}

option
{
  font-size: 25px;
}

.cars
{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
}

.car
{
    margin: 25px;
}

img
{
  max-width: 500px;
  max-height: 500px;
}

.brands .cars
{
  height:500px;
  width: 500px;
}

.icons
{
  height:50px;
  width: 50px;
}


.container {
    border-top-left-radius: 37px 140px;
    border-top-right-radius: 23px 130px;
    border-bottom-left-radius: 110px 19px;
    border-bottom-right-radius: 120px 24px;
  
    display: block;
    position: relative;
    border: solid 3px #6e7491;
    padding: 20px 20px;
    max-width: 800px;
    font-size: 35px;
    line-height: 28px;
    transform: rotate(-1deg);
    box-shadow: 3px 15px 8px -10px rgba(0, 0, 0, 0.3);
    transition: all 0.13s ease-in;
    justify-content: center;
  }
  

  
  .container:hover .border {
    transform: translateY(4px) rotate(-5deg);
  }
  
  .border {
    position: absolute;
    transition: all 0.13s ease-in;
  }
  
  .border:before,
  .border:after {
    color: #515d9c;
    font-size: 15px;
    position: absolute;
  }
  
  .tl {
    position: absolute;
    left: -50px;
    top: -63px;
    font-weight: 600;
  }
  
  .tl:before {
    content: "37px";
    left: 120px;
    top: 30px;
  }
  
  .tl:after {
    content: "140px";
    left: 0px;
    top: 80px;
  }
  
  .tr {
    right: -50px;
    top: -63px;
    font-weight: 600;
  }
  
  .tr:before {
    content: "23px";
    left: 0;
    top: 30px;
  }
  
  .tr:after {
    content: "130px";
    left: 130px;
    top: 80px;
  }
  
  .bl {
    left: -50px;
    bottom: -71px;
    font-weight: 600;
  }
  
  .bl:before {
    content: "110px";
    left: 120px;
    top: -30px;
  }
  
  .bl:after {
    content: "19px";
    left: 0px;
    top: -90px;
  }
  
  .br {
    right: -50px;
    bottom: -63px;
    font-weight: 600;
  }
  
  .br:before {
    content: "120px";
    left: 0;
    top: -30px;
  }
  
  .br:after {
    content: "24px";
    right: -10px;
    top: -80px;
  }
  
  pre {
    background: #edeff5;
    padding: 20px;
  }

.carattrs
{
    font-size: 25px;
    border-bottom: blue solid 1px;
}